@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
*{
    font-family: 'Baloo 2', cursive;
}
body{
    min-height: 100vw;
    background-color: rgb(240, 230, 178);
 }
.novostpic{
    display: flex;
    justify-content: center;    
}
.news{
    padding: 10px;
    justify-content: center;

}
.npic1 {    
    height: 550px;
    width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 100px;
}
.npic2 {    
    height: 500px;
    width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 100px;
}
.img-fluid{
    max-width:100%;
    height:auto;
}
.npic3 {    
    height: 450px;
    width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 100px;
}
a{
    text-decoration:none;
    color:rgb(46, 44, 44)
}
.shortpic{
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    height: 150px;
}
.shortnovostmain{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.container
 {
    margin-top: 10px;
    background-color: rgb(212,196,236);
    border-radius: 10px;
    /* width: 700px;
    height: 220px; */
}
.logo{
    margin: 70px;
    max-width: 60vw;
    transform: rotate(45deg);
}
@media screen and (min-width:1200px) {
    .logo{
        width: 150px;
    }
}
